body{
    background-image:linear-gradient(#000000,#1A1A2A, #946D43, #C6A877);


 }




html::-webkit-scrollbar-thumb{
background:#b2744c;
}
html::-webkit-scrollbar-track{
    background:transparent;
    border-radius:10px;
}
html::webkit-scrollbar{
    width:10px;
    height:100px;
}

.navbar{
    background-color:#1A1A2A;
    
}
.navbar-nav-a{
    font-family: "antiquarian", sans-serif;
    font-size:18px;
    text-transform:uppercase;
    font-weight:bold;
}
.navbar-light .navbar-brand{
    color:#C6A877;
    font-size:25px;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:2px;
    font-family: "antiquarian-scribe", sans-serif;
}
.navbar-light .navbar-nav .nav-link{
    color:#C6A877;
    font-weight:bold;
    font-family: "antiquarian", sans-serif;
    font-size: 20px;
}
.navbar-nav{
    text-align:center;
}
.nav-link{
    padding:.2rem 1rem;
    position:relative;
    display:inline-block;
}
.nav-link::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(204, 21, 49, 0.8);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.w-100{
    height: 100vh
}
@media only screen and (max-width:1000px){
    .navbar-nav.ms-auto{
        background:rgba(204, 21, 49, 0.5);
    }
    .navbar-toggler{
        padding:1px 5px;
        font-size: 18px;
        line-height:0.3;
        background:#C6A877;
    }
}

/* beg of prallax section */
#home{
    width:100%;
    height:90vh;
    min-height:50vh;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    display:grid;
    place-items:center;
    align-items:center;
    justify-content:center;
    background-image:url('atom-1674878_640.png');
    background-position:center;
 

}
#home .content{
  padding-top:-100px;
  margin-left:56px;


}
#home .content h3{
    font-size:50px;
    color:#1A1A2A;
    text-align:left;
    padding-top:-100px;
    font-family: "antiquarian-scribe", sans-serif;
    
}
#home .content p{
    margin-top:20px;
    color:#1A1A2A;
    padding-top:-100px;
    font-family: "antiquarian", sans-serif;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.3);

}
#btn{
    width:150px;
    height:36px;
    margin-top:20px;
    background:#946D43;
    border-radius:5px;
    font-weight:bold;
    border:none;
    transition: 0.5s ease;
    cursor:pointer;
    color: #1A1A2A;
}
#btn:hover{
    background-color: #1A1A2A;
    color:#946D43;

}
/* end of parrallax section */
/*beg of about section*/
.row{
    padding:50px;
    /*margin-top:50px;*/
    background:rgb(198,168,119,0.15);
}
.newton{
    text-align:center;
    font-family: "antiquarian", sans-serif;

}
.about{
    margin-top:50px;
  

}
.about .card{
    border-radius:10px;
}
.about .card img{
    border-radius:10px;

}
.about h2{
    font-weight:600;
    font-family: "antiquarian", sans-serif;
    letter-spacing:0.5px;
}
.about p{
    font-weight:500;
}
#about-btn{
    width:150px;
    height:38px;
    border:1px;
    border-radius:5px;
    background: #1A1A2A;
    color:rgba(204, 21, 49);
    letter-spacing:2px;
    font-weight:550;
    transition:0.5s ease;
    cursor:pointer;
    font-family: "antiquarian", sans-serif;
    font-size: 24px;
}
#about-btn:hover{
    width:170px;
}
.img{
    border:5px solid #1A1A2A;
    box-shadow:10px 5px 5px rgba(0, 0, 0, 0.4);
   

}
/*end of about section*/
/*beg of early years*/

/*end of early years*/








